<div class="container detail-page">
  <h1>Nueva Parada</h1>

  <%= render 'form', station: @station %>

  <%= link_to stations_path do %>
      <span class="glyphicon glyphicon-arrow-left" data-toggle="tooltip" title="eliminar"></span>
      Paradas
  <% end %>
</div>