<header class="header clearfix">
  <a class="navbar-brand" href="#">
    <img class="img-responsive"  src="/logoplanet.png" alt="">
  </a>
  <nav>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="/routes">Rutas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/stations">Paradas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/categories">Categorias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/places">Sitios de Interes</a>
      </li>
    </ul>
  </nav>
</header>

<div class ="row">
  <div class= "col-md-12 nopadding">
    <div class="jumbotron">
      <h1 class="display-3">Bienvenido a TransApp API</h1>
      <p class="lead">Este es el sistema de administración web , de la aplicación TransAPP.</p>
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Leer Mas</a>
      </p>
    </div>
  </div>
</div>
