<header class="header clearfix">
  <a class="navbar-brand" href="#">
    <img class="img-responsive" src="/logoplanet.png" alt="">
  </a>
  <nav>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="/section-routes">Rutas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/section-stations">Paradas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/section-places">Sitios de Interes</a>
      </li>
    </ul>
  </nav>
</header>

<div class="row main-banner">
  <div class="col-md-6 banner-right">
    <p class="lead">
      <img class="img-responsive" src="/phone.png" alt="">
    </p>
  </div>
  <div class="col-md-6 banner-left">

    <div class="jumbotron">
      <h1 class="display-3">Bienvenido a TransApp API</h1>
      <p class="lead">Este es el sistema de administración web de la aplicación TransAPP. Aprende a interactuar con el
        sistema solamente con un click</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/section-routes" role="button">Leer Mas</a>
      </p>
    </div>
  </div>


</div>

<div class="row routes" id="section-routes">
  <div class="col-md-6">
    <div class="info-container">
      <div class="outer">
        <h1>Rutas</h1>
        <p> Administra información sobre las rutas de servicio de la compañia.</p>
        <p> Registra ,consulta , actualiza información como :</p>
        <ul>
          <li>Nombre de la ruta</li>
          <li>Horario de funcionamiento</li>
          <li>Intervalos de los recorridos</li>
          <li>Numero de buses disponibles en cada recorrido</li>
          <li>Información especial del recorrido(observaciones)</li>
        </ul>

        <a class="btn btn-primary btn-lg" href="/routes" role="button">ADMINISTRAR RUTAS</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <img class="img-responsive" src="/routes.png" alt="">
  </div>
</div>

<div class="row stations" id="section-stations">
  <div class="col-md-6">
    <img class="img-responsive" src="/station.png" alt="">
  </div>
  <div class="col-md-6">
    <div class="info-container">
      <div class="outer">
        <h1>Paradas</h1>
        <p> Administra información sobre paradas en cada una de las rutas.</p>
        <p> Registra ,consulta , actualiza la siguiente informacion en la aplicacion :</p>
        <ul>
          <li>Imagen de identificacion de la parada</li>
          <li>Cordenadas Geograficas (latitud y longitud)</li>
          <li>Rutas de la compañia que pasan por cada parada</li>
        </ul>

        <a class="btn btn-primary btn-lg" href="/stations" role="button">ADMINISTRAR PARADAS</a>
      </div>
    </div>
  </div>
</div>

<div class="row places" id="section-places">
  <div class="col-md-6">
    <div class="info-container">
      <div class="outer">
        <h1>Lugares de interes</h1>
        <p> Administra información sobre sitios de interes para el usuario.</p>
        <p> Registra ,consulta , actualiza la siguiente informacion en la aplicacion :</p>
        <ul>
          <li>Nombre del sitio de interes</li>
          <li>Rutas de la compañia que transportar hacia el sitio</li>
          <li>Organización de los sitios por categorias</li>
        </ul>

        <a class="btn btn-primary btn-lg" href="/places" role="button">ADMINISTRAR SITIOS DE INTERES</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <img class="img-responsive" src="/places.png" alt="">
  </div>
</div>

<div class="row footer-content">
  <div class="col-md-12">
    <p> © TransApp Team 2017</p>
  </div>

</div>