<header class="header clearfix">
  <a class="navbar-brand" href="#">
    <img class="img-responsive" src="/logoplanet.png" alt="">
  </a>
  <nav>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="/routes">Rutas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/stations">Paradas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/categories">Categorias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/places">Sitios de Interes</a>
      </li>
    </ul>
  </nav>
</header>

<div class="row main-banner">
  <div class="col-md-6 banner-right">
    <p class="lead">
      <img class="img-responsive" src="/phone.png" alt="">
    </p>
  </div>
  <div class="col-md-6 banner-left">

    <div class="jumbotron">
      <h1 class="display-3">Bienvenido a TransApp API</h1>
      <p class="lead">Este es el sistema de administración web de la aplicación TransAPP. Aprende a interactuar con el sistema solamente con un click</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Leer Mas</a>
      </p>
    </div>
  </div>


</div>

<div class="row routes" id="section-routes">
  <div class="col-md-6">
    <h1>Rutas</h1>
  </div>
  <div class="col-md-6">

  </div>
</div>

<div class="row stations" id="section-stations">
  <div class="col-md-6">
    <h1>Paradas</h1>
  </div>
  <div class="col-md-6">

  </div>
</div>

<div class="row places" id="section-places">
  <div class="col-md-6">
    <h1>Sitios de Interes</h1>
  </div>
  <div class="col-md-6">

  </div>
</div>