<div class="container detail-page">
  <h1>Editando Ruta</h1>

  <%= render 'form', route: @route %>

  <%= link_to route_path(@route) do %>
      <span class="glyphicon glyphicon-eye-open" data-toggle="tooltip" title="show"></span>
      Ver
  <% end %> |
  <%= link_to routes_path do %>
      <span class="glyphicon glyphicon-arrow-left" data-toggle="tooltip" title="eliminar"></span>
    Rutas
  <% end %>
</div>

