<div class="container detail-page">
  <h1>Editando Lugar</h1>

  <%= render 'form', place: @place %>

  <%= link_to place_path(@place) do %>
      <span class="glyphicon glyphicon-eye-open" data-toggle="tooltip" title="show"></span>
      Ver
  <% end %> |
  <%= link_to places_path do %>
      <span class="glyphicon glyphicon-arrow-left" data-toggle="tooltip" title="eliminar"></span>
      Lugares
  <% end %>

</div>
