<div class="container detail-page">
  <h1>Nuevo Sitio de Interes</h1>

  <%= render 'form', place: @place %>

  <%= link_to places_path do %>
      <span class="glyphicon glyphicon-arrow-left" data-toggle="tooltip" title="eliminar"></span>
      Lugares
  <% end %>

</div>
